
html,
body{
    background-color: #121212;
    overflow-x: hidden;
    margin: 0%;
    height: 100%;
    width: 100%;
    
}

.flexbox{
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.container{
    width: 50%;
    
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;

    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
    color: #1ed760;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    
    background-color: white;
    display: none;
    overflow: hidden;
    width: 100%;
  }

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px ;
    height: 50px;
    flex-direction: column;    
    
    
  }

  .title h1{
    color: #ccc;
    
  }
  
  .subs{
    color: #ccc;
    display: flex;
    width: 50%;
    justify-content:start ;
  }


  