.footer{
    position: relative;
    bottom: 0%;
    text-align: center;
    background: #eee;
    height: 50px;
    width: 100%;
    color: black;
    padding: 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
#line{
    width: 95%;
}

.footer img{
    max-width:  28px;
    max-height: 28px;
    top: 50%;
}

.sociais img{
    width: 35px;
    height: 35px;
}



.footer a{
    color: black;
    padding: 10px;
}


.content a{
    font-family: 'Baloo 2', cursive;

}

.content a :hover{
    color: #1ed760;
}


