.footer{
    bottom: 0;
    text-align: center;
    background: #eee;
    height: 50px;
    width: 100%;
    /* padding-top: 30cm; */
    color: black;
    padding: 5px;
}

.content hr{
    background-color: black;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    paddi
}

.footer img{
    max-width:  50px;
    max-height: 50px;
    top: 50%;
}

.sociais img{
    width: 35px;
    height: 35px;
}



.footer a{
    color: black;
    padding: 10px;
}


.content a{
    font-family: 'Baloo 2', cursive;

}

.content a :hover{
    color: #1ed760;
}


